.env
.idea
/vendor/
/app/vendor/psr/container/.gitignore
/mariadb/data/09d962c18447.pid
/mariadb/data/aria_log.00000001
/mariadb/data/aria_log_control
/app/vendor/autoload.php
/app/vendor/composer/autoload_classmap.php
/app/vendor/composer/autoload_namespaces.php
/app/vendor/composer/autoload_psr4.php
/app/vendor/composer/autoload_real.php
/app/vendor/composer/autoload_static.php
/app/vendor/symfony/dotenv/CHANGELOG.md
/app/vendor/composer/ClassLoader.php
/app/vendor/psr/container/composer.json
/app/vendor/symfony/dotenv/composer.json
/app/composer.json
/composer.json
/app/composer.lock
/app/vendor/psr/container/src/ContainerExceptionInterface.php
/app/vendor/psr/container/src/ContainerInterface.php
/mariadb/data/ddl_recovery.log
/mariadb/data/ddl_recovery-backup.log
/app/vendor/symfony/dotenv/Command/DebugCommand.php
/app/vendor/symfony/dotenv/Dotenv.php
/app/vendor/symfony/dotenv/Command/DotenvDumpCommand.php
/mariadb/data/ec09cb36c5df.pid
/app/vendor/symfony/dotenv/Exception/ExceptionInterface.php
/app/vendor/symfony/dotenv/Exception/FormatException.php
/app/vendor/symfony/dotenv/Exception/FormatExceptionContext.php
/mariadb/data/ib_buffer_pool
/mariadb/data/ib_logfile0
/mariadb/data/ibdata1
/mariadb/data/ibtmp1
/app/vendor/composer/installed.json
/app/vendor/composer/installed.php
/app/vendor/composer/InstalledVersions.php
/app/vendor/composer/LICENSE
/app/vendor/psr/container/LICENSE
/app/vendor/symfony/dotenv/LICENSE
/mariadb/data/multi-master.info
/app/vendor/psr/container/src/NotFoundExceptionInterface.php
/app/vendor/symfony/dotenv/Exception/PathException.php
/app/vendor/composer/platform_check.php
/app/vendor/psr/container/README.md
/app/vendor/symfony/dotenv/README.md
